### data ###
polars
requests
beautifulsoup4
filelock
datasets

### train ###
#torch>=2.6,<2.7  # install manually, see README
numpy<=1.26.4
datasets

### infer ###
qdrant-client>=1.18.0,<1.19.0
numpy<=1.26.4
hdbscan
zhconv
beautifulsoup4
cloudscraper
gensim
